body{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    background-color:#1f2937;
    
  }
  
  
  .nav-section{
    background-color:#1f2937;
  }
  
  .navbar{
    display:flex;
    background-color:;
    align-items:center;
    justify-content:space-between;
    
    
  }
  
  
  .logo{
    margin-left:3%;
    color:white;
    font-weight:bold;
    font-size:48px;
  }
  
  .nav-right{
    display:flex;
    gap:30px;
    margin-right:30px;
    
  }
  
  
  
  .content{
    background-color:;
    display:flex;
   color:white;
    justify-content:center;
    gap:10%;
    height:300px;
    
  }
  
  .content-left{
    
    
  }
  
  .main-img{
    height:auto;
    width:600px;
  }
  
  .intro{
    margin-top:110px;
  }
  
  ul, a{
    list-style:none;
    text-decoration:none;
    color:#e5e7eb;
  }
  
  button{
    padding: 5px 15px;
    cursor:pointer;
    background-color:#3882f6;
    border-radius:10px;
    color:white;
    border: #3882f6;
    
  }
  
  
  .gallery{
    display:flex;
    margin-top:4%;
    background-color:white;
    padding-bottom:80px;
    
    
    }
  
  .gallery1{
    margin: 50px 50%;
  }
  
  .gallery ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    
    
  }
  
  
  
  .middle{
    display:flex;
    justify-content:center;
    margin:40px;
  }
  
  .width{
    width:70%;
    margin:auto;
  }
  
  .content-review{
    background-color:#E5E7EB;
    
    
  }
  
  .review{
    display:flex;
    flex: 1 0;
    justify-content:center;
    gap:40px;
    
  }
  
  .review p{
    width:300px;
    height:220px;
  }
  
  .info{
    display:flex;
    justify-content:center;
    gap:100px;
    background-color:white;
    padding-top:30px;
    
  }
  
  .size{
    width:260px;
    height:295px;
   font-size:17px;
  }
  
  
  footer{
    align-self:center;
    color:white;
  }
  
  
  
  